<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Liste des Paniers en cours
      </ion-label>
    </ion-list-header>
    <ng-container *ngFor="let panier of paniers; let index = index">
        <ion-card>
          <ion-card-header>
          <ion-card-title># Commande {{panier.id}}</ion-card-title>
          </ion-card-header>
          <ng-container *ngFor="let pizza of panier.pizzas">
            <ion-card-content>
              {{pizza.nom}} - {{pizza.prix}} €
            </ion-card-content>
          </ng-container>
        </ion-card>
          <ion-button expand="full" color="success">Valider</ion-button>
    </ng-container>
  </ion-list>
</ion-content>
<ion-button expand="full" color="primary" (click)="retour()">Retour aux pizzas</ion-button>