<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary">
        <h1>Liste de Pizzas</h1>
      </ion-label>
    </ion-list-header>
    <ng-container *ngFor="let pizza of pizzas; let index = index">
      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="pizza-outline"></ion-icon>
          <ion-label>
            {{pizza.nom}} - {{pizza.prix}} €
          </ion-label>
          <ion-icon slot="end" name="cart-outline" (click)="addPizza(index)"></ion-icon>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="success" (click)="addPizza(index)">
            <ion-icon name="add-circle"></ion-icon>
            Ajouter
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>

<ion-button expand="full" color="primary" (click)="goToPanier()">Voir mon Panier</ion-button>